
<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
    <div class="container py-5">
        <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
            <div class="row g-4">
                <div class="col-lg-3">
                    <a href="#">
                        <h1 class="text-primary mb-0">Nice Nice Shop</h1>
                        <p class="text-secondary mb-0">Cửa Hàng Tạp Hóa</p>
                    </a>
                </div>
                @* <div class="col-lg-6">
                    <div class="position-relative mx-auto">
                        <input class="form-control border-0 w-100 py-3 px-4 rounded-pill" type="number" placeholder="Your Email">
                        <button type="submit" class="btn btn-primary border-0 border-secondary py-3 px-4 position-absolute rounded-pill text-white" style="top: 0; right: 0;">Subscribe Now</button>
                    </div>
                </div> *@
                @*  <div class="col-lg-3">
                     <div class="d-flex justify-content-end pt-3">
                         <a class="btn  btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                         <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                         <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-youtube"></i></a>
                         <a class="btn btn-outline-secondary btn-md-square rounded-circle" href=""><i class="fab fa-linkedin-in"></i></a>
                     </div>
                 </div> *@
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Giới Thiệu Cửa Hàng</h4>
                    <p class="mb-5">
                        Cửa hàng tạp hóa Nice Nice Shop là điểm đến lý tưởng cho mọi gia đình với các sản phẩm tiêu dùng thiết yếu, từ thực phẩm, đồ uống, đến các mặt hàng gia dụng, chăm sóc sức khỏe. Chúng tôi cam kết cung cấp những sản phẩm chất lượng, nguồn gốc rõ ràng, giá cả hợp lý để phục vụ nhu cầu hàng ngày của khách hàng. Với không gian mua sắm sạch sẽ, thoải mái cùng đội ngũ nhân viên tận tình, cửa hàng tạp hóa Nice Nice Shop luôn mong muốn mang đến sự hài lòng và tiện lợi tối đa cho bạn. 
                        Hãy đến và trải nghiệm mua sắm tuyệt vời cùng chúng tôi!
                    </p>
                    @* <a href="" class="btn border-secondary py-2 px-4 rounded-pill text-primary">Read More</a> *@
                </div>
            </div>
            @* <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Shop Info</h4>
                    <a class="btn-link" href="">About Us</a>
                    <a class="btn-link" href="">Contact Us</a>
                    <a class="btn-link" href="">Privacy Policy</a>
                    <a class="btn-link" href="">Terms & Condition</a>
                    <a class="btn-link" href="">Return Policy</a>
                    <a class="btn-link" href="">FAQs & Help</a>
                </div>
            </div> *@
           @*  <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Account</h4>
                    <a class="btn-link" href="">My Account</a>
                    <a class="btn-link" href="">Shop details</a>
                    <a class="btn-link" href="">Shopping Cart</a>
                    <a class="btn-link" href="">Wishlist</a>
                    <a class="btn-link" href="">Order History</a>
                    <a class="btn-link" href="">International Orders</a>
                </div>
            </div> *@
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Liên Hệ</h4>
                    <p>Địa Chỉ: 256 Nguyễn Văn Cừ, An Hòa, Cần Thơ</p>
                    <p>Email Của Chúng tôi:</p>
                    <p class="mb-2">nnthicntt2211029@student.ctuet.edu.vn</p>
                    <p class="mb-2">nkphungcntt2211048@student.ctuet.edu.vn</p>
                    <p class="mb-2">tttkieucntt2211013@student.ctuet.edu.vn</p>
                    <p>Số điện thoại: 0899069754</p>
                   @*  <p>Payment Accepted</p>
                    <img src="img/payment.png" class="img-fluid" alt=""> *@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->