@model NNShop.Data.LoaiHh

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa Danh Mục Hàng Hóa</h1>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenLoaiHh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenLoaiHh)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaLoaiHh" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay Lại </a>
    </form>
</div>
