@model NNShop.Data.LoaiHh

@{
    ViewData["Title"] = "Details";
}

<h1>Mô Tả Danh Mục Hàng Hóa</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <label>Tên Loại Hàng Hóa</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenLoaiHh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaLoaiHh">Sửa</a> |
    <a asp-action="Index">Quay Lại</a>
</div>
